<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>Set Action Goals</title>
    </head>
    <body>
        <h1>Your action goals</h1>
        <div>
            Check your action goal often.Keep it in your mind and act.
        </div>
        <p>
        	<%= goal %>
        </p>
    </body>
</html>