<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>Set Action Goals</title>
    </head>
    <body>
        <h1>Set Action Goals.</h1>
        <div>
            Action goals is specific actions that you will do whithin specific time period.
            ex) Write three times a week. / Read references two times a day.
        </div>
        <p>
        	<form method="post" action="/register">
		        <input type="text" name="action_goal">
		        <input type="submit" value="Register">
	        </form>
        </p>
    </body>
</html>